# Dependencies
node_modules/

# Build output
dist/

# Astro cache
.astro/

#backup 
.backup/

# OS files
.DS_Store
Thumbs.db

# Environment variables (if you add any later)
.env
.env.local
website-utilifygrid.code-workspace
 
 # Confidential
 confidential.md